slide#in-the-beginning div.build {
  margin-top: 130px;
  text-align: center;
}

img#groupme-logo {
  display: inline-block;
}

img#heroku-logo {
  display: inline-block;
  margin-bottom: 40px;
}

span.disclaimer {
  color: gray;
  font-size: 75%;
}

slide.dark aside.note {
  color: #666;
  line-height: 30px;
}

slide#two-simple-rules h3 {
  font-weight: bold;
}
